.picFrom {
    width: 45%;
    float: left;
    margin: 10px 20px 0 20px;
}

.small_img_input {
    border: 1px solid #A09D9D;
    border-radius: 5px;
    font-size: 15px;
    padding: 1px 2px;
    color: #333333;
    vertical-align: middle;
}

.showImage_small img {
    width: 180px;
    margin: 10px 10px 10px 70px;
}

.showImage_big img {
    width: 280px;
    margin: 10px 10px 10px 70px;
}