@charset "utf-8";

#sidebar {
    float: left;
    width: 200px;
    border: 1px solid #D2D2D2;
    text-align: left;
}

.mod-title {
    font-size: 18px;
    height: 35px;
    line-height: 40px;
    text-indent: 30px;
    background: #F5F5F5;
}

#help-menu #qMenu{
    margin-bottom: 0px;
}

#help-menu #qMenu li {
    cursor: pointer;
    line-height: 28px;
    overflow: hidden;
    padding: 0;
    background-color: #DDDDDD;
    border-top: 1px solid #D2D2D2;
    width: 100%;
    text-indent: 30px;
    font-size: 16px;
}

#help-menu #qMenu .qMenu2 li {
    cursor: auto;
    line-height: 25px;
    background-color: #EEEEEE;
    cursor: pointer;
    width: 100%;
    text-indent: 50px;
    font-size: 14px;
}

#subNav {
    background-color: #F5F5F5;
    border-top: 1px solid #B1C0DF;
    line-height: 35px;
    font-size: 18px;
}

#dataArea {
    margin-left: 200px;
    width: auto;
    text-align: left;
    text-indent: 20px;
    padding: 0 5px
}

#dataArea #questions .questions{
    border-bottom: 1px solid #DDDDDD;
    font-size: 15px;
    text-align: left;
    margin: 10px 0;
    padding-bottom: 5px;
}

#dataArea #questions .question{
    color: #AF874D;
    text-align: left;
    padding: 5px 0px;
    cursor: pointer;
}

#dataArea #questions .answer{
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #E5E5E5;
    margin: 5px 0 5px 20px;
    padding: 5px 0;
    position: relative;
    display: none;
}